/* selects the body element */
body {
    font-size: 24px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* selects wrapper class elements */
.wrapper {

    background: burlywood;
    border: 15px solid black;
    margin: 24px;
    padding: 24px;
}

.picture {
    background: lightgoldenrodyellow;
    border: 15px solid black;
    margin: 24px;
    padding: 24px;
}

#name {
    font-family: "Arial";
    color: white
}
