/* selects the body element */
body {
    font-size: 24px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* selects wrapper class elements */
.wrapper {

    background: burlywood;
    margin: 24px;
    padding: 24px;
}

.picture {
    background: lavender;
    margin: 24px;
    padding: 24px;
}

.salmon {
    color: salmon;
}

#name {
    font-family: "Arial";
    color: lightskyblue
}
